/********** Get rid of native browser styles **********/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  box-sizing: border-box;
  background: #7ba5f0;
  padding: 20px 5vmin; }

#top-bar {
  width: 100%;
  margin-bottom: 40px; }

body {
  font-family: "Lora", "Palatino Linotype", Palatino, serif;
  font-size: 16px; }

h1 {
  font-size: 64px;
  color: white;
  text-align: center;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px; }

h2 {
  font-size: 38px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 18px; }

h1, h2, h3, h4 {
  font-weight: bold; }

.error {
  font-style: italic;
  letter-spacing: 1px;
  color: #b36200; }

input, button {
  background: #eee; }

input {
  padding: 3px;
  border: none;
  border-radius: 1px; }

button {
  padding: 5px 8px;
  border: none;
  border-radius: 3px; }
  button:hover:enabled {
    background: #aaa;
    cursor: pointer; }

dl dt {
  margin-bottom: 3px; }

dl dd {
  margin-bottom: 10px; }

dl:last-of-type {
  margin-bottom: none; }

@keyframes blinker {
  to {
    opacity: 0.1; }
  from {
    opacity: 1.0; } }

#setup-screen div {
  margin-bottom: 40px; }
  #setup-screen div:last-child {
    margin-bottom: none; }

#setup-screen h3 {
  margin-bottom: 13.33333px; }

#setup-screen dl {
  margin-bottom: 13.33333px; }

#setup-screen .error {
  margin-left: 20px; }

#game-screen #top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px; }
  #game-screen #top-bar #game-title, #game-screen #top-bar #game-start, #game-screen #top-bar #game-room {
    width: 80px;
    white-space: nowrap; }

#game-screen #game-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; }
  #game-screen #game-info #game-players {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: solid 3px #5b8fec;
    border-radius: 5px;
    z-index: 2; }
    #game-screen #game-info #game-players .player {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      border-right: solid 3px cornflowerblue;
      z-index: 1; }
      #game-screen #game-info #game-players .player:last-of-type {
        border-right: none; }
      #game-screen #game-info #game-players .player.current {
        background: gold; }
      #game-screen #game-info #game-players .player .name, #game-screen #game-info #game-players .player .stats {
        padding: 5px; }
      #game-screen #game-info #game-players .player .name .color-key {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 0 0 -3px 8px;
        border-radius: 3px; }
      #game-screen #game-info #game-players .player .stats {
        font-size: 13px; }
  #game-screen #game-info #game-feedback {
    display: absolute;
    width: 100%; }
  #game-screen #game-info #game-board-form dl, #game-screen #game-info #game-board-form dt, #game-screen #game-info #game-board-form dd, #game-screen #game-info #game-board-form button {
    display: inline-block; }
  #game-screen #game-info #game-board-form dl {
    font-size: 13px; }
  #game-screen #game-info #game-board-form dt {
    margin-right: 5px; }
  #game-screen #game-info #game-board-form dd {
    margin-right: 10px; }
    #game-screen #game-info #game-board-form dd input {
      width: 20px;
      text-align: center; }
  #game-screen #game-info #game-board-form button {
    margin-left: 10px; }

#game-screen #game-board {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  #game-screen #game-board #game-column-buttons, #game-screen #game-board #game-grid {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  #game-screen #game-board #game-column-buttons {
    flex-direction: row; }
  #game-screen #game-board #game-grid {
    flex-direction: column; }
    #game-screen #game-board #game-grid #game-grid-row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start; }
  #game-screen #game-board .game-square-wrapper, #game-screen #game-board .game-column-button-wrapper {
    float: left; }
  #game-screen #game-board .game-square, #game-screen #game-board .game-column-button {
    width: 80%; }
  #game-screen #game-board .game-column-button {
    display: block;
    margin: 0 10% 10% 10%; }
  #game-screen #game-board .game-square {
    height: 80%;
    margin: 10%;
    border-radius: 5px; }
    #game-screen #game-board .game-square.blinking {
      animation: blinker 500ms linear infinite alternate; }

.color-null {
  background: gold; }

.color-black {
  background: black; }

.color-red {
  background: crimson; }

.color-blue {
  background: royalblue; }

.color-purple {
  background: blueviolet; }

.color-green {
  background: forestgreen; }

.color-brown {
  background: saddlebrown; }

.color-pink {
  background: hotpink; }

.color-gray {
  background: darkgray; }

.color-orange {
  background: darkorange; }

.color-lime {
  background: chartreuse; }
