/********** Get rid of native browser styles **********/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  box-sizing: border-box;
  background: #7ba5f0;
  padding: 20px 5vmin; }

h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px; }

body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 16px; }

h1 {
  font-size: 48px;
  color: white; }

h2 {
  font-size: 38px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 18px; }

h1, h2, h3, h4 {
  font-weight: bold; }

input, button {
  background: #eee; }

input {
  padding: 3px;
  border: none;
  border-radius: 1px; }

button {
  padding: 5px 8px;
  border: none;
  border-radius: 3px; }
  button:hover:enabled {
    background: #aaa;
    cursor: pointer; }

dl dt {
  margin-bottom: 3px; }

dl dd {
  margin-bottom: 10px; }

dl:last-of-type {
  margin-bottom: none; }

#setup-screen div {
  margin-bottom: 40px; }
  #setup-screen div:last-child {
    margin-bottom: none; }

#setup-screen h3 {
  margin-bottom: 13.33333px; }

#setup-screen dl {
  margin-bottom: 13.33333px; }

#game-screen #game-feedback, #game-screen #game-info {
  padding: 10px;
  position: absolute;
  top: 0;
  opacity: 0.75; }

#game-screen #game-feedback {
  left: 0; }

#game-screen #game-info {
  right: 0; }
  #game-screen #game-info td {
    padding-left: 5px; }

#game-screen #game-board {
  float: left; }
  #game-screen #game-board .game-square-wrapper, #game-screen #game-board .game-column-button-wrapper {
    float: left; }
  #game-screen #game-board .game-square, #game-screen #game-board .game-column-button {
    width: 80%; }
  #game-screen #game-board .game-square {
    height: 80%;
    margin: 10%;
    border-radius: 5px; }
  #game-screen #game-board .game-column-button {
    display: block;
    margin: 0 10% 10% 10%; }

@keyframes blinker {
  from {
    visibility: visible; }
  to {
    visibility: hidden; } }
  #game-screen #game-board .blink-square {
    animation: blinker steps(1) 500ms infinite alternate; }

#game-screen #game-control {
  float: left;
  margin-left: 80px; }
  #game-screen #game-control #game-players, #game-screen #game-control #game-start {
    margin-bottom: 80px; }
  #game-screen #game-control #game-players {
    margin-top: 10px; }
    #game-screen #game-control #game-players td {
      padding: 5px; }
      #game-screen #game-control #game-players td.color-key {
        height: 15px;
        width: 15px; }
  #game-screen #game-control #change-board input {
    width: 30px; }

.color-null {
  background: gold; }

.color-black {
  background: black; }

.color-red {
  background: crimson; }

.color-blue {
  background: royalblue; }

.color-purple {
  background: blueviolet; }

.color-green {
  background: forestgreen; }

.color-brown {
  background: saddlebrown; }

.color-pink {
  background: hotpink; }

.color-gray {
  background: darkgray; }

.color-orange {
  background: darkorange; }

.color-lime {
  background: chartreuse; }
