/********** Get rid of native browser styles **********/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  box-sizing: border-box;
  background: #7ba5f0;
  padding: 20px 2.5%; }

body {
  font-family: "Lora", "Palatino Linotype", Palatino, serif;
  font-size: 16px; }

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 64px;
  letter-spacing: 1px;
  line-height: 0.8;
  text-align: center;
  color: snow; }

h2 {
  font-size: 38px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 18px; }

h1, h2, h3, h4 {
  font-weight: bold; }

.error {
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
  color: firebrick; }

input, button {
  font-family: "Lora", "Palatino Linotype", Palatino, serif;
  font-size: 14px; }

input {
  padding: 5px;
  border: none;
  border-radius: 1px;
  background: gainsboro; }

button {
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  background: slateblue;
  color: gainsboro;
  letter-spacing: 1px; }
  button:hover:enabled {
    background: darkslateblue;
    cursor: pointer; }
  button:disabled {
    background: #b1a8e5;
    color: #c3c3c3; }

@keyframes blinker {
  to {
    opacity: 0.1; }
  from {
    opacity: 1.0; } }

#setup-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  #setup-screen #top-bar {
    margin-bottom: 40px; }
  #setup-screen #forms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    #setup-screen #forms #create-room-wrapper, #setup-screen #forms #join-room-wrapper {
      margin-bottom: 80px; }
      #setup-screen #forms #create-room-wrapper h3, #setup-screen #forms #join-room-wrapper h3 {
        margin-bottom: 20px; }
      #setup-screen #forms #create-room-wrapper dl, #setup-screen #forms #join-room-wrapper dl {
        margin-bottom: 13.33333px; }
        #setup-screen #forms #create-room-wrapper dl dt, #setup-screen #forms #join-room-wrapper dl dt {
          margin-bottom: 5px; }
        #setup-screen #forms #create-room-wrapper dl dd, #setup-screen #forms #join-room-wrapper dl dd {
          margin-bottom: 10px; }
          #setup-screen #forms #create-room-wrapper dl dd:last-of-type, #setup-screen #forms #join-room-wrapper dl dd:last-of-type {
            margin-bottom: none; }
          #setup-screen #forms #create-room-wrapper dl dd .error, #setup-screen #forms #join-room-wrapper dl dd .error {
            margin-left: 20px; }

#game-screen {
  display: flex;
  flex-direction: column; }
  #game-screen #top-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px; }
    #game-screen #top-bar #game-start, #game-screen #top-bar #game-room {
      flex-basis: 10%; }
    #game-screen #top-bar #game-room {
      text-align: right; }
    #game-screen #top-bar #game-title {
      flex-basis: 80%;
      padding: 0 10px; }
  #game-screen #game-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    #game-screen #game-info #game-players, #game-screen #game-info #game-board-form {
      margin-bottom: 20px; }
    #game-screen #game-info #game-players {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      border: solid 3px #b1a8e5;
      border-radius: 5px; }
      #game-screen #game-info #game-players .player {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border-right: solid 3px #b1a8e5; }
        #game-screen #game-info #game-players .player:last-of-type {
          border-right: none; }
        #game-screen #game-info #game-players .player.current {
          background: gold; }
        #game-screen #game-info #game-players .player .name {
          margin-bottom: 5px; }
          #game-screen #game-info #game-players .player .name .color-key {
            display: inline-block;
            width: 15px;
            height: 15px;
            margin: 0 0 -3px 8px;
            border-radius: 3px; }
        #game-screen #game-info #game-players .player .stats {
          font-size: 13px; }
    #game-screen #game-info #game-board-form dl {
      margin-bottom: 10px; }
      #game-screen #game-info #game-board-form dl dt, #game-screen #game-info #game-board-form dl dd {
        display: inline-block; }
      #game-screen #game-info #game-board-form dl dt {
        margin-right: 5px; }
      #game-screen #game-info #game-board-form dl dd {
        margin-right: 10px; }
        #game-screen #game-info #game-board-form dl dd:last-of-type {
          margin-right: 0; }
        #game-screen #game-info #game-board-form dl dd input {
          padding: 2px 5px;
          width: 20px;
          text-align: center; }
    #game-screen #game-info #game-board-form button {
      float: right; }
  #game-screen #game-board {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    #game-screen #game-board #game-column-buttons, #game-screen #game-board #game-grid {
      display: flex;
      justify-content: flex-start; }
    #game-screen #game-board #game-column-buttons {
      flex-direction: row; }
    #game-screen #game-board #game-grid {
      flex-direction: column; }
      #game-screen #game-board #game-grid .game-grid-row {
        display: flex;
        flex-direction: row; }
    #game-screen #game-board .game-square-wrapper, #game-screen #game-board .game-column-button-wrapper {
      flex-grow: 1; }
    #game-screen #game-board .game-square, #game-screen #game-board .game-column-button {
      width: 80%;
      border-radius: 5px; }
    #game-screen #game-board .game-column-button {
      display: block;
      margin: 0 10% 10% 10%; }
    #game-screen #game-board .game-square {
      height: 80%;
      margin: 10%; }
      #game-screen #game-board .game-square.blinking {
        animation: blinker 500ms linear infinite alternate; }

.color-null {
  background: gold; }

.color-black {
  background: black; }

.color-red {
  background: crimson; }

.color-blue {
  background: royalblue; }

.color-purple {
  background: blueviolet; }

.color-green {
  background: forestgreen; }

.color-brown {
  background: saddlebrown; }

.color-pink {
  background: hotpink; }

.color-gray {
  background: darkgray; }

.color-orange {
  background: darkorange; }

.color-lime {
  background: chartreuse; }
