// Master stylesheet

@import reset

$base-font-size: 16px
$base-font-family: "Lora", "Palatino Linotype", Palatino, serif
$body-padding: 2.5%
$whitespace: 40px

// Colors
$white: snow
$pale-gray: gainsboro
$dark-gray: dimgray
$yellow: gold

$background-color: lighten(cornflowerblue, 5%)
$base-font-color: black
$error-color: firebrick

$button-color: slateblue
$button-hover: darkslateblue
$button-disabled: lighten($button-color, 20%)

// Game disc colors
$black: black
$red: crimson
$blue: royalblue
$purple: blueviolet
$green: forestgreen
$brown: saddlebrown
$pink: hotpink
$gray: darkgray
$orange: darkorange
$lime: chartreuse


@mixin sectionify($margin)
  margin-bottom: $margin

  &:last-child
    margin-bottom: none


@mixin row-border($style, $size, $color, $radius)
  td
    border-top: $style $size $color
    border-bottom: $style $size $color

    &:first-child
      border-left: $style $size $color
      border-top-left-radius: $radius
      border-bottom-left-radius: $radius

    &:last-child
      border-right: $style $size $color
      border-top-right-radius: $radius
      border-bottom-right-radius: $radius


@import page
@import font
@import elements
@import setup
@import game
