body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#home-button {
  display: block;
}

#game-grid {
  border-collapse: collapse;
}

#game-grid .game-square {
  border: 3px #555 solid;
  background: yellow;
  height: 80px;
  width: 80px;
  padding: 0;
  margin: 0;
}

#column-buttons button {
  width: 80px;
}

#game-feedback, #game-board, #more-controls {
  margin-bottom: 40px;
}

@keyframes blinker {
  from { visibility: visible }
  to { visibility: hidden }
}

.blink-square {
  animation: blinker steps(1) 500ms infinite alternate;
}
