$background-color: lighten(cornflowerblue, 5%)


body
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
  background: $background-color


input, button
  background: #eee


input
  padding: 3px
  border: none
  border-radius: 1px


button
  padding: 5px 8px
  border: none
  border-radius: 3px

  &:hover:enabled
    background: #aaa
    cursor: pointer


h1
  font-variant: bold
  font-size: 40px
  color: white


.section
  margin-bottom: 40px

  &:last-child
    margin-bottom: none


#game-feedback
  border-radius: 5px
  background: lighten($background-color, 10%)
  padding: 10px


#game-players
  position: absolute
  top: 0
  right: 0

  table
    border-collapse: collapse

    td
      padding: 10px
      border: 1px solid gold


.player-key
  border-radius: 2px
  padding: 5px 10px
  color: white


.game-column-button, .game-square
  margin: 1vmin
  float: left


.game-square
  border-radius: 5px


.game-square, .player-key
  &-null
    background: gold

  &-black
    background: black

  &-red
    background: crimson

  &-blue
    background: royalblue

  &-purple
    background: blueviolet

  &-green
    background: forestgreen

  &-brown
    background: saddlebrown

  &-pink
    background: hotpink

  &-gray
    background: darkgray

  &-orange
    background: darkorange

  &-lime
    background: chartreuse


@keyframes blinker
  from
    visibility: visible
  to
    visibility: hidden


.blink-square
  animation: blinker steps(1) 500ms infinite alternate
