body
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
  background: cornflowerblue


input, button
  background: #eee


input
  padding: 3px
  border: none
  border-radius: 1px


button
  cursor: pointer
  padding: 5px
  border: none
  border-radius: 3px

  &:hover
    background: #aaa


#game-title, #game-players, #game-start, #game-feedback, #game-board, #game-controls
  margin-bottom: 40px


#game-feedback
  background: lighten(cornflowerblue, 10%)
  padding: 10px


.game-column-button, .game-square
  margin: 1vmin
  float: left


.game-square
  border-radius: 5px

  &-null
    background: gold

  &-black
    background: black

  &-red
    background: red

  &-blue
    background: blue

  &-purple
    background: blueviolet

  &-green
    background: forestgreen

  &-brown
    background: saddlebrown

  &-pink
    background: hotpink

  &-gray
    background: darkgray

  &-orange
    background: darkorange


@keyframes blinker
  from
    visibility: visible
  to
    visibility: hidden


.blink-square
  animation: blinker steps(1) 500ms infinite alternate
