body
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
  background: red


#game-title, #game-feedback, #game-board, #game-controls
  margin-bottom: 40px


#game-feedback
  background: white
  padding: 5px


.game-square, .column-play
  margin: 1vmin
  float: left


.game-square
  border-radius: 5px

  &-null
    background: yellow

  &-black
    background: black

  &-red
    background: red

  &-blue
    background: blue

  &-purple
    background: purple

  &-green
    background: green

  &-brown
    background: brown

  &-pink
    background: pink

  &-gray
    background: gray

  &-orange
    background: orange


@keyframes blinker
  from
    visibility: visible
  to
    visibility: hidden


.blink-square
  animation: blinker steps(1) 500ms infinite alternate
