input, button
  background: #eee


input
  padding: 3px
  border: none
  border-radius: 1px


button
  padding: 5px 8px
  border: none
  border-radius: 3px

  &:hover:enabled
    background: #aaa
    cursor: pointer


dl
  dt
    margin-bottom: 3px

  dd
    margin-bottom: 10px


dl.inline
  dt
    display: inline-block

  dd
    display: inline
    margin-left: $whitespace

    &:after
      content: ''
      display: block
