body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }

#game-content {
  display: none; }
  #game-content #game-title, #game-content #game-feedback, #game-content #game-board, #game-content #game-controls {
    margin-bottom: 40px; }
  #game-content .game-square, #game-content .column-play {
    margin: 1vmin;
    float: left; }
  #game-content .game-square {
    border-radius: 5px; }

@keyframes blinker {
  from {
    visibility: visible; }
  to {
    visibility: hidden; } }

.blink-square {
  animation: blinker steps(1) 500ms infinite alternate; }
