{% extends "base.html" %}


{% block content %}

<a id="home-button" href="/">Go Home</a>

<h1>{{ title }}</h1>

<h3>Game <span id="game-number"></span></h3>

<div id="game-feedback">Feedback goes here</div>

<div id="game-board">
  <div id="column-buttons">
    {% for column in range(num_columns) %}
    <button class="column-play" onclick="sendPlay({{ column }});" disabled>
      Play here
    </button>
    {% end %}
  </div>

  <table id="game-grid">
    {% for row in range(num_rows) %}
    <tr class="game-row">
      {% for column in range(num_columns) %}
      <td id="square-{{ row }}-{{ column }}" class="game-square"></td>
      {% end %}
    </tr>
    {% end %}
  </table>
</div>

<div id="more-controls">
  <button id="play-again" onclick="sendStartGame();">
    Play again?
  </button>
</div>

{% end %}


{% block js %}

<script type="text/javascript">
  window.num_rows = {{ num_rows }};
  window.num_columns = {{ num_columns }};
  window.num_to_win = {{ num_to_win }};
</script>

<script type="text/javascript" src="{{ static_url('js/main.js') }}" defer>
</script>

{% end %}
