{% extends "base.html" %}


{% block content %}

<a href="/">Go Home</a>

<h1>{{ title }}</h1>

<div id="column-buttons">
{% for column in range(num_columns) %}
  <button onclick="sendPlay({{ column }});">
    Play here
  </button>
{% end %}
</div>

<table id="game-grid">
  {% for row in range(num_rows) %}
  <tr class="game-row">
    {% for column in range(num_columns) %}
    <td class="game-square"></td>
    {% end %}
  </tr>
  {% end %}
</table>

{% end %}


{% block js %}

<script type="text/javascript">
  window.num_rows = {{ num_rows }};
  window.num_columns = {{ num_columns }};
  window.num_to_win = {{ num_to_win }};
  window.colors = [];
  window.players = [];

  {% for color in colors %}
    window.colors.push("{{ color }}");
  {% end %}

  {% for player in players %}
    window.players.push("{{ player }}");
  {% end %}
</script>

<script type="text/javascript" src="{{ static_url('js/main.js') }}" defer>
</script>

{% end %}
