{% extends "base.html" %}


{% block content %}

<a id="home-button" href="/">Go Home</a>

<h1>{{ title }}</h1>

<h3>Game <span id="game-number"></span></h3>

<div id="game-feedback">Feedback goes here</div>

<div id="game-board">
  <div id="column-buttons">
    {% for column in range(num_columns) %}
    <button class="column-play" onclick="sendPlay({{ column }});" disabled>
      Play here
    </button>
    {% endfor %}
  </div>

  <table id="game-grid">
    {% for row in range(num_rows) %}
    <tr class="game-row">
      {% for column in range(num_columns) %}
      <td id="square-{{ row }}-{{ column }}" class="game-square"></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>

<div id="more-controls">
  <button id="play-again" onclick="sendStartGame();">
    Play again?
  </button>
</div>

{% endblock %}


{% block js %}

<script type="text/javascript">
  window.num_rows = {{ num_rows }};
  window.num_columns = {{ num_columns }};
  window.num_to_win = {{ num_to_win }};
  window.username = {{ username }};
</script>

<script
  type="text/javascript"
  src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"
  defer>
</script>

<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/main.js') }}"
  defer>
</script>

{% endblock %}
