{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}


{% block content %}

<h1>Welcome to Connect X</h1>

<h2>Set up a new game?</h2>

<form action="" method="post">
  <dl>
    {{ render_field(new_game_form.num_rows) }}
    {{ render_field(new_game_form.num_columns) }}
    {{ render_field(new_game_form.num_to_win) }}
    {{ render_field(new_game_form.username) }}
  </dl>
  <p><input type="submit" name="new-game" value="Submit">
</form>

<h2>Join an existing game?</h2>

<form action="" method="post">
  <dl>
    {{ render_field(existing_game_form.pk) }}
    {{ render_field(existing_game_form.username) }}
  </dl>
  <p><input type="submit" name="new-game" value="Submit">
</form>

{% endblock %}
