<h2>Set up a new game?</h2>

<form id="new-game-form" action="" method="post">
  <dl>
    <dt>Num rows</dt>
    <dd>
      <input type="text" name="num-rows" value="{{ DEFAULT_ROWS }}">
    </dd>

    <dt>Num columns</dt>
    <dd>
      <input type="text" name="num-columns" value="{{ DEFAULT_COLUMNS }}">
    </dd>

    <dt>Num to win</dt>
    <dd>
      <input type="text" name="num-to-win" value="{{ DEFAULT_TO_WIN }}">
    </dd>

    <dt>Your username</dt>
    <dd><input type="text" name="first-username"></dd>
  </dl>

  <input type="submit" value="Submit">
</form>


<h2>Join an existing game room?</h2>

<form id="existing-game-form" action="" method="post">
  <dl>
    <dt>Room ID</dt>
    <dd><input type="text" name="room"></dd>

    <dt>Your username</dt>
    <dd><input type="text" name="new-username"></dd>
  </dl>

  <input type="submit" name="new-game" value="Submit">
</form>
