{% extends "base.html" %}


{% block content %}

<h1>Welcome to Connect X</h1>

<form action="" method="post">
  Num rows:
  <input type="text" name="num_rows" value="{{ default_rows }}">
  <br>

  Num columns:
  <input type="text" name="num_columns" value="{{ default_columns }}">
  <br>

  Num to win:
  <input type="text" name="num_to_win" value="{{ default_to_win }}">
  <br>

  Players (comma separated):
  <input type="text" name="players" value="Alice, Bob, Carol">
  <br>

  <br>
  <br>

  <input type="submit" value="Submit">
</form>

{% end %}
