body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background: cornflowerblue; }

input, button {
  background: #eee; }

input {
  padding: 3px;
  border: none;
  border-radius: 1px; }

button {
  cursor: pointer;
  padding: 5px;
  border: none;
  border-radius: 3px; }
  button:hover {
    background: #aaa; }

#game-title, #game-players, #game-feedback, #game-board, #game-controls {
  margin-bottom: 40px; }

#game-feedback {
  background: #92b4f2;
  padding: 10px; }

.game-column-button, .game-square {
  margin: 1vmin;
  float: left; }

.game-square {
  border-radius: 5px; }
  .game-square-null {
    background: gold; }
  .game-square-black {
    background: black; }
  .game-square-red {
    background: red; }
  .game-square-blue {
    background: blue; }
  .game-square-purple {
    background: blueviolet; }
  .game-square-green {
    background: forestgreen; }
  .game-square-brown {
    background: saddlebrown; }
  .game-square-pink {
    background: hotpink; }
  .game-square-gray {
    background: darkgray; }
  .game-square-orange {
    background: darkorange; }

@keyframes blinker {
  from {
    visibility: visible; }
  to {
    visibility: hidden; } }

.blink-square {
  animation: blinker steps(1) 500ms infinite alternate; }
