body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background: red; }

#game-title, #game-feedback, #game-board, #game-controls {
  margin-bottom: 40px; }

#game-feedback {
  background: white;
  padding: 5px; }

.game-square, .column-play {
  margin: 1vmin;
  float: left; }

.game-square {
  border-radius: 5px; }
  .game-square-black {
    background: black; }
  .game-square-red {
    background: red; }
  .game-square-blue {
    background: blue; }
  .game-square-purple {
    background: purple; }
  .game-square-green {
    background: green; }
  .game-square-brown {
    background: brown; }
  .game-square-pink {
    background: pink; }
  .game-square-gray {
    background: gray; }
  .game-square-orange {
    background: orange; }

@keyframes blinker {
  from {
    visibility: visible; }
  to {
    visibility: hidden; } }

.blink-square {
  animation: blinker steps(1) 500ms infinite alternate; }
