body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background: #7ba5f0; }

input, button {
  background: #eee; }

input {
  padding: 3px;
  border: none;
  border-radius: 1px; }

button {
  padding: 5px 8px;
  border: none;
  border-radius: 3px; }
  button:hover:enabled {
    background: #aaa;
    cursor: pointer; }

h1 {
  font-variant: bold;
  font-size: 40px;
  color: white; }

.section {
  margin-bottom: 40px; }

#game-feedback {
  border-radius: 5px;
  background: #a9c4f5;
  padding: 10px; }

.game-column-button, .game-square {
  margin: 1vmin;
  float: left; }

.game-square {
  border-radius: 5px; }
  .game-square-null {
    background: gold; }
  .game-square-black {
    background: black; }
  .game-square-red {
    background: crimson; }
  .game-square-blue {
    background: royalblue; }
  .game-square-purple {
    background: blueviolet; }
  .game-square-green {
    background: forestgreen; }
  .game-square-brown {
    background: saddlebrown; }
  .game-square-pink {
    background: hotpink; }
  .game-square-gray {
    background: darkgray; }
  .game-square-orange {
    background: darkorange; }
  .game-square-lime {
    background: chartreuse; }

@keyframes blinker {
  from {
    visibility: visible; }
  to {
    visibility: hidden; } }

.blink-square {
  animation: blinker steps(1) 500ms infinite alternate; }
