<head>
  <title>Connect X</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Raleway:900"
  >

  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Lora"
  >

  <link
    type="image/ico"
    rel="icon"
    href="{{ url_for('static', filename='images/favicon.ico') }}">

  <link
    type="text/css"
    rel="stylesheet"
    href="{{ url_for('static', filename='dist/main.css') }}">

  <script type="text/javascript">
    window.DEFAULT_ROWS = {{ DEFAULT_ROWS }};
    window.DEFAULT_COLUMNS = {{ DEFAULT_COLUMNS }};
    window.DEFAULT_TO_WIN = {{ DEFAULT_TO_WIN }};
  </script>

  <script
    type="text/javascript"
    src="{{ url_for('static', filename='dist/main.js') }}"
    defer>
  </script>
</head>
