body
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
  font-size: $base-font-size


h1
  font-size: 48px
  color: white


h2
  font-size: 38px


h3
  font-size: 28px


h4
  font-size: 18px


h1, h2, h3, h4
  font-weight: bold


.error
  font-style: italic
  letter-spacing: 1px
  color: darken($orange, 15%)
