#game-screen
  #top-bar
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-bottom: $whitespace

    #game-title, #game-start, #game-room
      width: $whitespace * 2
      white-space: nowrap
      opacity: 0.75

  #game-info
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin-bottom: $whitespace / 2

    #game-players
      display: flex
      flex-direction: row
      justify-content: flex-start
      border: solid 3px darken($background-color, 7%)
      border-radius: 5px
      z-index: 2

      .player
        display: flex
        flex-direction: column
        align-items: center
        padding: $whitespace / 4
        border-right: solid 3px darken($background-color, 5%)
        z-index: 1

        &:last-of-type
          border-right: none

        &.current
          background: $yellow

        .name, .stats
          padding: 5px

        .name
          .color-key
            display: inline-block
            width: 15px
            height: 15px
            margin: 0 0 -3px 8px
            border-radius: 3px

        .stats
          font-size: $base-font-size - 3

    #game-feedback
      display: absolute
      width: 100%

    #game-board-form
      dl, dt, dd, button
        display: inline-block

      dl
        font-size: $base-font-size - 3

      dt
        margin-right: $whitespace / 8

      dd
        margin-right: $whitespace / 4

        input
          width: 20px
          text-align: center

      button
        margin-left: $whitespace / 4


  #game-board
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center

    #game-column-buttons, #game-grid
      display: flex
      justify-content: flex-start
      align-items: center

    #game-column-buttons
      flex-direction: row

    #game-grid
      flex-direction: column

      #game-grid-row
        display: flex
        flex-direction: row
        justify-content: flex-start

    .game-square-wrapper, .game-column-button-wrapper
      float: left

    .game-square, .game-column-button
      width: 80%

    .game-column-button
      display: block
      margin: 0 10% 10% 10%

    .game-square
      height: 80%
      margin: 10%
      border-radius: 5px

      &.blinking
        animation: blinker 500ms linear infinite alternate

.color
  &-null
    background: $yellow

  &-black
    background: $black

  &-red
    background: $red

  &-blue
    background: $blue

  &-purple
    background: $purple

  &-green
    background: $green

  &-brown
    background: $brown

  &-pink
    background: $pink

  &-gray
    background: $gray

  &-orange
    background: $orange

  &-lime
    background: $lime
