// Master stylesheet

@import reset

$base-font-size: 16px
$whitespace: 40px
$body-padding: 5vmin

$background-blue: cornflowerblue
$yellow: gold
$black: black
$red: crimson
$blue: royalblue
$purple: blueviolet
$green: forestgreen
$brown: saddlebrown
$pink: hotpink
$gray: darkgray
$orange: darkorange
$lime: chartreuse

$background-color: lighten($background-blue, 5%)


@mixin sectionify($margin)
  margin-bottom: $margin

  &:last-child
    margin-bottom: none

@import page
@import font
@import elements
@import setup
@import game
